In [1]:
# IMPORTS

from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt
import pandas as pd
import os
import numpy as np

In [2]:
# IMPORT DATA

directory = ".\Data"
all_files = os.listdir(directory)
csv_files = [f for f in all_files if f.endswith(".csv")]

data_list = []

for file in csv_files:
    file_path = os.path.join(directory, file)
    df = pd.read_csv(file_path, encoding="latin-1")
    data_list.append(df)

data_concat = pd.concat(data_list, ignore_index=True)
display(data_concat)

,OBJECTID,NUMERO_ORDINE,TECNICO,DATA_RILEVAMENTO,SPECIE,LATITUDINE,LONGITUDINE,CULTIVAR,RISULTATO,COMUNE,SINTOMO,ID,TIPOLOGIA
0,"12,533","1,646",RNL,11/25/2013 00:00:00,OLEANDRO,40.503611,16.970000,****,NEGATIVO,PALAGIANO,NaN,NaN,NaN
1,"12,534","1,647",RNL,11/25/2013 00:00:00,MALVA,40.503611,16.970000,****,NEGATIVO,PALAGIANO,NaN,NaN,NaN
2,"12,535","1,648",RNL,11/25/2013 00:00:00,OLIVO,40.498611,16.946389,****,NEGATIVO,CASTELLANETA,NaN,NaN,NaN
3,"12,537","1,650",RNL,11/25/2013 00:00:00,MALVA,40.498611,16.946389,****,NEGATIVO,CASTELLANETA,NaN,NaN,NaN
4,"12,538","1,651",RNL,11/25/2013 00:00:00,OLIVO,40.490556,16.923056,****,NEGATIVO,CASTELLANETA,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197324,NaN,NaN,NaN,30/06/2023,Agrume (Citrus),40.544074,17.142576,NaN,Negativo,Taranto,Assente,1584222.0,Campione
1197325,NaN,NaN,NaN,30/06/2023,Olivo (Olea europaea),40.535728,17.144692,Leccino,Negativo,Taranto,Assente,1584118.0,Campione
1197326,NaN,NaN,NaN,13/06/2023,Olivo (Olea europaea),41.068225,16.950864,ogliarola,Negativo,Triggiano,Presente,10201192.0,Campione
1197327,NaN,NaN,NaN,14/06/2023,Olivo (Olea europaea),40.826407,17.385544,ogliarola,Positivo,Fasano,Presente,10201203.0,Campione
1197328,NaN,NaN,NaN,14/06/2023,Olivo (Olea europaea),40.826676,17.385238,ogliarola,Positivo,Fasano,Presente,10201201.0,Campione

In [3]:
# CLEAN DATAFRAME

data_concat = data_concat.drop(columns=["OBJECTID", "NUMERO_ORDINE", "TECNICO", "ID", "TIPOLOGIA"])
display(data_concat)

,DATA_RILEVAMENTO,SPECIE,LATITUDINE,LONGITUDINE,CULTIVAR,RISULTATO,COMUNE,SINTOMO
0,11/25/2013 00:00:00,OLEANDRO,40.503611,16.970000,****,NEGATIVO,PALAGIANO,NaN
1,11/25/2013 00:00:00,MALVA,40.503611,16.970000,****,NEGATIVO,PALAGIANO,NaN
2,11/25/2013 00:00:00,OLIVO,40.498611,16.946389,****,NEGATIVO,CASTELLANETA,NaN
3,11/25/2013 00:00:00,MALVA,40.498611,16.946389,****,NEGATIVO,CASTELLANETA,NaN
4,11/25/2013 00:00:00,OLIVO,40.490556,16.923056,****,NEGATIVO,CASTELLANETA,NaN
...,...,...,...,...,...,...,...,...
1197324,30/06/2023,Agrume (Citrus),40.544074,17.142576,NaN,Negativo,Taranto,Assente
1197325,30/06/2023,Olivo (Olea europaea),40.535728,17.144692,Leccino,Negativo,Taranto,Assente
1197326,13/06/2023,Olivo (Olea europaea),41.068225,16.950864,ogliarola,Negativo,Triggiano,Presente
1197327,14/06/2023,Olivo (Olea europaea),40.826407,17.385544,ogliarola,Positivo,Fasano,Presente
1197328,14/06/2023,Olivo (Olea europaea),40.826676,17.385238,ogliarola,Positivo,Fasano,Presente

In [4]:
# ADJUST DATE FORMAT
data_concat["DATA_RILEVAMENTO"] = pd.to_datetime(data_concat.DATA_RILEVAMENTO, format="mixed")
display(data_concat)

,DATA_RILEVAMENTO,SPECIE,LATITUDINE,LONGITUDINE,CULTIVAR,RISULTATO,COMUNE,SINTOMO
0,2013-11-25,OLEANDRO,40.503611,16.970000,****,NEGATIVO,PALAGIANO,NaN
1,2013-11-25,MALVA,40.503611,16.970000,****,NEGATIVO,PALAGIANO,NaN
2,2013-11-25,OLIVO,40.498611,16.946389,****,NEGATIVO,CASTELLANETA,NaN
3,2013-11-25,MALVA,40.498611,16.946389,****,NEGATIVO,CASTELLANETA,NaN
4,2013-11-25,OLIVO,40.490556,16.923056,****,NEGATIVO,CASTELLANETA,NaN
...,...,...,...,...,...,...,...,...
1197324,2023-06-30,Agrume (Citrus),40.544074,17.142576,NaN,Negativo,Taranto,Assente
1197325,2023-06-30,Olivo (Olea europaea),40.535728,17.144692,Leccino,Negativo,Taranto,Assente
1197326,2023-06-13,Olivo (Olea europaea),41.068225,16.950864,ogliarola,Negativo,Triggiano,Presente
1197327,2023-06-14,Olivo (Olea europaea),40.826407,17.385544,ogliarola,Positivo,Fasano,Presente
1197328,2023-06-14,Olivo (Olea europaea),40.826676,17.385238,ogliarola,Positivo,Fasano,Presente

In [ ]:
# ADJUST SPECIES NAMES

# species_list = [species.lower() for species in data_concat["SPECIE"].unique() if isinstance(species, str)]
species_list = data_concat["SPECIE"].unique()
j = 30
print(species_list[j*5:(j+1)*5])

substring = "hebe"
result = [species for species in species_list if isinstance(species, str) and substring.lower() in species.lower()]
print(result)

i = 1
# new_name = result[i]
new_name = "pianta di Hebe (Hebe)"
replacement_dictionary = {old_name : new_name for old_name in result}
replacement_dictionary

# data_concat["SPECIE"] = data_concat["SPECIE"].replace(replacement_dictionary)
# display(data_concat)

In [ ]:
{'LECCIO': 'Leccio (Quercus ilex)',
 'Quercus Ilex L. (leccio)': 'Leccio (Quercus ilex)',
 'Quercus Ilex (leccio)': 'Leccio (Quercus ilex)',
 'Leccio': 'Leccio (Quercus ilex)'}

{'GINESTRA': 'Ginestra (Spartium junceum)',
 'Spartium Junceum (ginestra)': 'Ginestra (Spartium junceum)',
 'Ginestra (Spartium junceum)': 'Ginestra (Spartium junceum)'}

{'Vinca Minor (pervinca minore)': 'Vinca (Vinca minor)',
 'Vinca (Vinca Minor)': 'Vinca (Vinca minor)'}

{'Myrtus Communis (mirto) var. Pumila': 'Mirto (Myrtus communis)',
 'Myrtus Communis (mirto)': 'Mirto (Myrtus communis)',
 'Mirto (Myrtus communis)': 'Mirto (Myrtus communis)'}

{'Rhamnus Alaternus (alaterno)': 'Alaterno (Rhamnus alaternus)',
 'Alaterno (Rhamnus alaternus)': 'Alaterno (Rhamnus alaternus)'}

{'Rosmarinus Officinalis (rosmarino)': 'Rosmarino (Rosmarinus officinalis)',
 'Rosmarino (Rosmarinus officinalis)': 'Rosmarino (Rosmarinus officinalis)'}

{'CITRUS X CLEMENTINA': 'Citrus clementina',
 'citrus clementina': 'Citrus clementina'}

{'CITRUS X SINENSIS': 'Agrume (Citrus)',
 'CITRUS X LIMON': 'Agrume (Citrus)',
 'CITRUS RETICULATA': 'Agrume (Citrus)',
 'CITRUS X CLEMENTINA': 'Agrume (Citrus)',
 'citrus arancio': 'Agrume (Citrus)',
 'citrus limone': 'Agrume (Citrus)',
 'citrus clementina': 'Agrume (Citrus)',
 'Agrume (Citrus)': 'Agrume (Citrus)'}

{'Grevillea Juniperina': 'Grevillea (Grevillea juniperina)',
 'Grevillea (Grevillea juniperina)': 'Grevillea (Grevillea juniperina)'}

{'Asparagus Acutifolius': 'Asparago selvatico (Asparagus acutifolius)',
 'Asparago selvatico (Asparagus acutifolius)': 'Asparago selvatico (Asparagus acutifolius)'}

{'asparago': 'Asparago (Asparagus officinalis)',
 'Asparagus Officinalis': 'Asparago (Asparagus officinalis)',
 'Asparago': 'Asparago (Asparagus officinalis)'}

{'Euphorbia Terracina': 'Euforbia (Euphorbia terracina)',
 'Euforbia (Euphorbia terracina)': 'Euforbia (Euphorbia terracina)'}

In [ ]:
{'OLEANDRO': 'Oleandro (Nerium oleander)',
 'Nerium Oleander (oleandro)': 'Oleandro (Nerium oleander)',
 'Oleandro (Nerium Oleander)': 'Oleandro (Nerium oleander)',
 'Nerium oleander (oleandro)': 'Oleandro (Nerium oleander)'}

{'MALVA': 'Malva (Malva sylvestris L.)',
 'Malva sylvestris L. (malva)': 'Malva (Malva sylvestris L.)'}

{'OLIVO': 'Olivo (Olea europaea)',
 'Olea Europaea (olivo)': 'Olivo (Olea europaea)',
 'Olivo (Olea europaea)': 'Olivo (Olea europaea)'}

{'SORGHETTO': 'Sorghetto (Sorghum halepense)'}

{'MANDORLO': 'Mandorlo (Prunus dulcis)',
 'Amygdalus Communis (mandorlo)': 'Mandorlo (Prunus dulcis)',
 'Mandorlo (Prunus dulcis)': 'Mandorlo (Prunus dulcis)',
 'Amygdalus communis (mandorlo)': 'Mandorlo (Prunus dulcis)',
 'Prunus Dulcis (mandorlo)': 'Mandorlo (Prunus dulcis)'}

{'VITE': 'Vite (Vitis vinifera)',
 'Vitis Vinifera (vite)': 'Vite (Vitis vinifera)'}

{'Vitis vinifera subsp. silvestris (vite selvatica)': 'Vite selvatica (Vitis vinifera subsp. silvestris)'}

{'SUSINO': 'Susino (Prunus domestica)',
 'Prunus Domestica (susino)': 'Susino (Prunus domestica)'}

{'GRAMIGNA': 'Gramigna (Cynodon dactylon)',
 'Cynodon Dactylon (gramigna)': 'Gramigna (Cynodon dactylon)'}

{'ALLORO': 'Alloro (Laurus nobilis)',
 'Laurus Nobilis (alloro)': 'Alloro (Laurus nobilis)',
 'Alloro (Laurus nobilis)': 'Alloro (Laurus nobilis)'}

{'FICO D`INDIA': "Fico d'India (Opuntia ficus-indica)"}

{'FICO': 'Fico (Ficus carica)',
 'Fico': 'Fico (Ficus carica)'}

{'POLYGALA MYRTIFOLIA': 'Poligala (Polygala myrtifolia)',
 'Polygala Myrtifolia': 'Poligala (Polygala myrtifolia)',
 'Poligala (Polygala myrtifolia)': 'Poligala (Polygala myrtifolia)'}

{'CILIEGIO': 'Ciliegio (Prunus avium)',
 'Ciliegio selvatico (Prunus avium)': 'Ciliegio (Prunus avium)',
 'Ciliegio (Prunus avium)': 'Ciliegio (Prunus avium)'}

{'ACACIA SALIGNA': 'Acacia Saligna',
 'Acacia Saligna': 'Acacia Saligna',
 'Acacia saligna (Acacia saligna Labill. Wendl.)': 'Acacia Saligna'}

{'WESTRINGIA FRUTICOSA': 'Westringia bianca (Westringia fruticosa)',
 'Westringia bianca (Westringia fruticosa)': 'Westringia bianca (Westringia fruticosa)',
 'Westringia Fructicosa': 'Westringia bianca (Westringia fruticosa)'}

{'Westringia Glabra': 'Westringia (Westringia glabra)',
 'Westringia (Westringia glabra)': 'Westringia (Westringia glabra)'}

In [ ]:
# Extract latitude and longitude
latitudes = data2022["LATITUDINE"].values
longitudes = data2022["LONGITUDINE"].values

In [ ]:
# TODO: gather all datas from yearly monitoring campaigns and do timeseries/animation of yearly advancement. 
# Just plot to see if there are holes in the continuation of the disease or if we are able to make an accurate map of the evolution

# Create a figure and a basemap
# lower_left = [40.5, 16.8]
# upper_right = [41.0, 17.5]

plt.figure(figsize=(10, 10))
m = Basemap(projection="merc",
            llcrnrlat=min(latitudes)-0.1, urcrnrlat=max(latitudes)+0.1,
            llcrnrlon=min(longitudes)-0.1, urcrnrlon=max(longitudes)+0.1,
            resolution="i") # c (crude), l (low), i (intermediate), h (high), f (full)

# Draw coastlines and countries for context
m.drawcoastlines()
m.drawcountries()

# Convert lat/long to map projection coordinates
x, y = m(longitudes, latitudes)

# Plot the points
m.scatter(x, y, marker="o", color="red", s=0.1)

# Title and show the plot
plt.title("Tree Locations on Basemap")
plt.show()